/* Write your CSS here */
@tailwind base;
@tailwind components;
@tailwind utilities;
.img {
  width: 400px;
}
.d {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 7%;
  width: 100%;
  background-color: white;
}
.p {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-top: 1vw; */
  width: 100%;
  /* box-shadow: 0px 1px 4px 0px #bfbfbf; */
  border-radius: 20px;
}

.p-border {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 0px;
  background-color: white;
  /* box-shadow: 0px 0px 4px 0px #bfbfbf; */
}
.bg {
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  border-radius: 20px;
  margin-bottom: 0px;
  width: 140%;
}
.img1 {
  position: initial;
  width: 2vw;
  height: 2vw;
  margin: 0px 0.5vw;
}
.inp {
  outline: none;
  height: 3.5vw;
  width: 100%;
  font-size: large;
  border-radius: 20px;
  margin-top: 0px;
  padding: 0px 1vw;
  border: none;
  outline: none;
}
.new {
  margin-bottom: 0px;
  position: relative;
  width: 140%;
  margin: auto;
}
.main {
  position: fixed;
  width: 90vw;
  height: 90vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5vw;
  margin-top: 1%;
}
.over {
  overflow: hidden;
  width: 100%;
  margin-left: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  /* box-shadow: 0px -2px 3px 2px #efefef; */
  margin-top: 0px;
}
.over-border {
  box-shadow: 0px 0px 3px 2px #efefef;
}

.bg1 {
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  border-radius: 20px;
  margin-bottom: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.inp1 {
  outline: none;
  width: 35vw;
  height: 3.5vw;
  border-radius: 20px;
  font-size: large;
  margin: 0px 1vw;
  padding: 0px 1vw;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.bgs {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.superClass {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
  width: 50%;
  background-color: white;
  box-shadow: 0px 1px 4px 0px #bfbfbf;
  border-radius: 20px;
}
@media screen and (max-width: 576px) {
}
